.vis-container {
	width: 100%;
}

body {
  background-color: orange;
}

.page {
  width: 1300px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
      }

      .pure-g{
        width: 1300px;
        margin-bottom: 25px;
      }

      h1{
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-size: 43px
      }

      h2{
        font-size: 30px
      }
      p{
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 25px
      }
      p{
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 10px
      }


/*            {"filter": "datum.Deaths >= Cases" },
{"filter": {"field": "type", "equal":{"expr": "attribute"} }},





    "params" : [ 
      { 
          "name" : "attribute", 
          "value": "Mortality",
          "bind" : 
              { "input" : "select", 
              "options" :
                  [ 
                  "Mortality", 
                  "Incidence"
                  ],
              "name": "type",
              "labels":
                        [
                          "Mortality",
                          "Incidence"
                        ]
          
              }
      },
      { 
        "name" : "Cases" , 
        "value" : 0 ,
        "bind" : 
            { 
                "input" : "range" ,
                "min": 0,         
                "max": 10000000,         
                "step": 100,         
                "name": "number of Cases"       
            }     
      }
  ],




                             "color": {
                            "field": "Deaths",
                            "type": "quantitative",
                            "scale": {         
                              "type": "ordinal",         
                              "domain": [10000, 100000, 500000],         
                              "range": ["blue","white", "orange"] 
                              
                                    }
                                   },
                                    #covid_mortality_mapv2 {
	top:200px;
	bottom: 100px; 
	left: 25px;
	right: 250px;
	height: 1000px;
	width: 800px;
}
#malaria_mortalityv4_map {
	top:-800px;
	bottom: 1000px; 
	left: 650px;
	right: -400px;
	height: 1000px;
	width: 800px;
}
#population_chart {
	top:-1200px;
	bottom: 1000px; 
	left: 0px;
	right: -400px;
	height: 1000px;
	width: 800px;
}
#HDI_chart{
	top:-1800px;
	bottom: 1600px; 
	left: 325px;
	right: -400px;
	height: 1000px;
	width: 800px;
}

#temperature_chart{
	top:-100px;
	bottom: 800px; 
	left: 325px;
	right: -400px;
	height: 1000px;
	width: 800px;
}